body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:938px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3543 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:131px;
}
#u3544 {
  position:absolute;
  left:332px;
  top:168px;
  width:130px;
  height:130px;
}
#u3545 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u3546 {
  position:absolute;
  left:337px;
  top:173px;
  width:120px;
  height:120px;
  color:#6B6B6B;
}
#u3547 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
#u3548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3548 {
  position:absolute;
  left:395px;
  top:168px;
  width:5px;
  height:5px;
}
#u3549 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3550 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:131px;
}
#u3551 {
  position:absolute;
  left:491px;
  top:168px;
  width:130px;
  height:130px;
}
#u3552 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:131px;
}
#u3553 {
  position:absolute;
  left:491px;
  top:168px;
  width:130px;
  height:130px;
}
#u3554 {
  position:absolute;
  left:67px;
  top:49px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u3555 {
  position:absolute;
  left:496px;
  top:173px;
  width:120px;
  height:120px;
  color:#6B6B6B;
}
#u3556 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
#u3557 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:131px;
}
#u3558 {
  position:absolute;
  left:649px;
  top:168px;
  width:130px;
  height:130px;
}
#u3559 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u3560 {
  position:absolute;
  left:654px;
  top:173px;
  width:120px;
  height:120px;
  color:#13CE66;
}
#u3561 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
#u3562 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:131px;
}
#u3563 {
  position:absolute;
  left:808px;
  top:168px;
  width:130px;
  height:130px;
}
#u3564 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:131px;
}
#u3565 {
  position:absolute;
  left:808px;
  top:168px;
  width:130px;
  height:130px;
}
#u3566 {
  position:absolute;
  left:67px;
  top:49px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u3567 {
  position:absolute;
  left:813px;
  top:173px;
  width:120px;
  height:120px;
  color:#FF4949;
}
#u3568 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
