body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3739 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:115px;
}
#u3740 {
  position:absolute;
  left:105px;
  top:102px;
  width:1px;
  height:114px;
}
#u3741 {
  position:absolute;
  left:2px;
  top:49px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3742 {
  position:absolute;
  left:100px;
  top:102px;
  width:10px;
  height:10px;
}
#u3743 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3744 {
  position:absolute;
  left:100px;
  top:154px;
  width:10px;
  height:10px;
}
#u3745 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3746 {
  position:absolute;
  left:100px;
  top:206px;
  width:10px;
  height:10px;
}
#u3747 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
}
#u3748 {
  position:absolute;
  left:130px;
  top:100px;
  width:70px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#464C5B;
}
#u3749 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
}
#u3750 {
  position:absolute;
  left:130px;
  top:152px;
  width:70px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#464C5B;
}
#u3751 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
}
#u3752 {
  position:absolute;
  left:130px;
  top:204px;
  width:70px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#464C5B;
}
#u3753 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u3754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3754 {
  position:absolute;
  left:100px;
  top:258px;
  width:10px;
  height:10px;
}
#u3755 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u3756 {
  position:absolute;
  left:130px;
  top:256px;
  width:53px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#4298F2;
}
#u3757 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
