body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:758px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:20px;
}
#u986 {
  position:absolute;
  left:100px;
  top:50px;
  width:327px;
  height:19px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#464C5B;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  white-space:nowrap;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u988 {
  position:absolute;
  left:100px;
  top:96px;
  width:33px;
  height:17px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#464C5B;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
}
#u991 {
  position:absolute;
  left:100px;
  top:142px;
  width:202px;
  height:34px;
  color:#AEAEAE;
  text-align:left;
}
#u991_img.mouseOver {
}
#u991.mouseOver {
}
#u991_img.selected {
}
#u991.selected {
}
#u992 {
  position:absolute;
  left:2px;
  top:9px;
  width:198px;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u993 {
  position:absolute;
  left:276px;
  top:149px;
  width:20px;
  height:20px;
}
#u994 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:253px;
}
#u995 {
  position:absolute;
  left:100px;
  top:182px;
  width:218px;
  height:253px;
}
#u996 {
  position:absolute;
  left:2px;
  top:118px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
}
#u998 {
  position:absolute;
  left:362px;
  top:142px;
  width:202px;
  height:34px;
  color:#AEAEAE;
  text-align:left;
}
#u998_img.mouseOver {
}
#u998.mouseOver {
}
#u998_img.selected {
}
#u998.selected {
}
#u999 {
  position:absolute;
  left:2px;
  top:9px;
  width:198px;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1000 {
  position:absolute;
  left:538px;
  top:149px;
  width:20px;
  height:20px;
  color:#AEAEAE;
}
#u1001 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:251px;
}
#u1002 {
  position:absolute;
  left:364px;
  top:186px;
  width:431px;
  height:251px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:118px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
}
#u1005 {
  position:absolute;
  left:100px;
  top:528px;
  width:202px;
  height:34px;
  color:#AEAEAE;
  text-align:left;
}
#u1005_img.mouseOver {
}
#u1005.mouseOver {
}
#u1005_img.selected {
}
#u1005.selected {
}
#u1006 {
  position:absolute;
  left:2px;
  top:9px;
  width:198px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1007 {
  position:absolute;
  left:276px;
  top:535px;
  width:20px;
  height:20px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:250px;
}
#u1009 {
  position:absolute;
  left:100px;
  top:568px;
  width:219px;
  height:250px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:117px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
}
#u1012 {
  position:absolute;
  left:388px;
  top:528px;
  width:202px;
  height:34px;
  color:#AEAEAE;
  text-align:left;
}
#u1012_img.mouseOver {
}
#u1012.mouseOver {
}
#u1012_img.selected {
}
#u1012.selected {
}
#u1013 {
  position:absolute;
  left:2px;
  top:9px;
  width:198px;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1014 {
  position:absolute;
  left:564px;
  top:535px;
  width:20px;
  height:20px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:250px;
}
#u1016 {
  position:absolute;
  left:389px;
  top:572px;
  width:218px;
  height:250px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:117px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u1018 {
  position:absolute;
  left:100px;
  top:863px;
  width:33px;
  height:14px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#464C5B;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
}
#u1021 {
  position:absolute;
  left:100px;
  top:937px;
  width:202px;
  height:34px;
  color:#AEAEAE;
  text-align:left;
}
#u1021_img.mouseOver {
}
#u1021.mouseOver {
}
#u1021_img.selected {
}
#u1021.selected {
}
#u1022 {
  position:absolute;
  left:2px;
  top:9px;
  width:198px;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1023 {
  position:absolute;
  left:276px;
  top:944px;
  width:20px;
  height:20px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:148px;
}
#u1025 {
  position:absolute;
  left:100px;
  top:981px;
  width:169px;
  height:147px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:66px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
}
#u1028 {
  position:absolute;
  left:397px;
  top:937px;
  width:202px;
  height:34px;
  color:#AEAEAE;
  text-align:left;
}
#u1028_img.mouseOver {
}
#u1028.mouseOver {
}
#u1028_img.selected {
}
#u1028.selected {
}
#u1029 {
  position:absolute;
  left:2px;
  top:9px;
  width:198px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1030 {
  position:absolute;
  left:573px;
  top:944px;
  width:20px;
  height:20px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:147px;
}
#u1032 {
  position:absolute;
  left:397px;
  top:981px;
  width:114px;
  height:147px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:66px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:180px;
}
#u1034 {
  position:absolute;
  left:102px;
  top:1269px;
  width:339px;
  height:179px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:82px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
}
#u1037 {
  position:absolute;
  left:100px;
  top:1225px;
  width:202px;
  height:34px;
  color:#AEAEAE;
  text-align:left;
}
#u1037_img.mouseOver {
}
#u1037.mouseOver {
}
#u1037_img.selected {
}
#u1037.selected {
}
#u1038 {
  position:absolute;
  left:2px;
  top:9px;
  width:198px;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1039 {
  position:absolute;
  left:276px;
  top:1232px;
  width:20px;
  height:20px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
}
#u1042 {
  position:absolute;
  left:529px;
  top:1225px;
  width:202px;
  height:34px;
  color:#AEAEAE;
  text-align:left;
}
#u1042_img.mouseOver {
}
#u1042.mouseOver {
}
#u1042_img.selected {
}
#u1042.selected {
}
#u1043 {
  position:absolute;
  left:2px;
  top:9px;
  width:198px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1044 {
  position:absolute;
  left:705px;
  top:1232px;
  width:20px;
  height:20px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:181px;
}
#u1046 {
  position:absolute;
  left:525px;
  top:1269px;
  width:228px;
  height:180px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:82px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
}
#u1048 {
  position:absolute;
  left:100px;
  top:1488px;
  width:65px;
  height:14px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#464C5B;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1050 {
  position:absolute;
  left:102px;
  top:1593px;
  visibility:hidden;
}
#u1050_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1050_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:292px;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:292px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:138px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053 {
  position:absolute;
  left:127px;
  top:252px;
  width:39px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1054 {
  position:absolute;
  left:3px;
  top:252px;
  width:64px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1055 {
  position:absolute;
  left:169px;
  top:252px;
  width:42px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1050_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1050_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:259px;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:259px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:122px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058 {
  position:absolute;
  left:128px;
  top:220px;
  width:38px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1059 {
  position:absolute;
  left:6px;
  top:220px;
  width:64px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1060 {
  position:absolute;
  left:166px;
  top:220px;
  width:48px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:35px;
}
#u1062 {
  position:absolute;
  left:102px;
  top:1549px;
  width:202px;
  height:34px;
  color:#AEAEAE;
  text-align:left;
}
#u1062_img.mouseOver {
}
#u1062.mouseOver {
}
#u1062_img.selected {
}
#u1062.selected {
}
#u1063 {
  position:absolute;
  left:2px;
  top:9px;
  width:198px;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1064 {
  position:absolute;
  left:278px;
  top:1556px;
  width:20px;
  height:20px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066 {
  position:absolute;
  left:454px;
  top:1600px;
  visibility:hidden;
}
#u1066_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1066_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:293px;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:293px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:138px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069 {
  position:absolute;
  left:338px;
  top:252px;
  width:43px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1070 {
  position:absolute;
  left:6px;
  top:252px;
  width:64px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1071 {
  position:absolute;
  left:385px;
  top:252px;
  width:43px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1066_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1066_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:293px;
}
#u1072 {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:293px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:138px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074 {
  position:absolute;
  left:342px;
  top:253px;
  width:41px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1075 {
  position:absolute;
  left:0px;
  top:253px;
  width:64px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1076 {
  position:absolute;
  left:383px;
  top:253px;
  width:41px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
}
#u1078 {
  position:absolute;
  left:454px;
  top:1556px;
  width:304px;
  height:34px;
  color:#AEAEAE;
  text-align:left;
}
#u1078_img.mouseOver {
}
#u1078.mouseOver {
}
#u1078_img.selected {
}
#u1078.selected {
}
#u1079 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1080 {
  position:absolute;
  left:732px;
  top:1563px;
  width:20px;
  height:20px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u1082 {
  position:absolute;
  left:102px;
  top:1965px;
  width:300px;
  height:170px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
