body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:708px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3230 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:36px;
}
#u3231 {
  position:absolute;
  left:100px;
  top:100px;
  width:608px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u3232 {
  position:absolute;
  left:2px;
  top:10px;
  width:604px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
}
#u3233 {
  position:absolute;
  left:165px;
  top:111px;
  width:85px;
  height:13px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u3234 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3235 {
  position:absolute;
  left:672px;
  top:110px;
  width:15px;
  height:15px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u3236 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3238 {
  position:absolute;
  left:120px;
  top:110px;
  width:15px;
  height:15px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u3239 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3240 {
  position:absolute;
  left:124px;
  top:114px;
  width:8px;
  height:8px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u3241 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
