body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:708px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:79px;
}
#u3256 {
  position:absolute;
  left:100px;
  top:100px;
  width:608px;
  height:78px;
}
#u3257 {
  position:absolute;
  left:2px;
  top:31px;
  width:604px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u3258 {
  position:absolute;
  left:165px;
  top:121px;
  width:29px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u3259 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3260 {
  position:absolute;
  left:672px;
  top:112px;
  width:15px;
  height:15px;
}
#u3261 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u3262 {
  position:absolute;
  left:120px;
  top:127px;
  width:25px;
  height:25px;
}
#u3263 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3264 {
  position:absolute;
  left:125px;
  top:131px;
  width:17px;
  height:17px;
}
#u3265 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
}
#u3266 {
  position:absolute;
  left:165px;
  top:145px;
  width:274px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#1E1E1E;
}
#u3267 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
