body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:519px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u3775 {
  position:absolute;
  left:146px;
  top:182px;
  width:70px;
  height:22px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u3775_img.mouseOver {
}
#u3775.mouseOver {
}
#u3776 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u3777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3777 {
  position:absolute;
  left:202px;
  top:188px;
  width:10px;
  height:10px;
}
#u3778 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3779 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u3780 {
  position:absolute;
  left:248px;
  top:182px;
  width:70px;
  height:22px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u3780_img.mouseOver {
}
#u3780.mouseOver {
}
#u3781 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u3782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3782 {
  position:absolute;
  left:304px;
  top:188px;
  width:10px;
  height:10px;
}
#u3783 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3784 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u3785 {
  position:absolute;
  left:353px;
  top:182px;
  width:70px;
  height:22px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u3785_img.mouseOver {
}
#u3785.mouseOver {
}
#u3786 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u3787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3787 {
  position:absolute;
  left:409px;
  top:188px;
  width:10px;
  height:10px;
}
#u3788 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3789 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u3790 {
  position:absolute;
  left:449px;
  top:182px;
  width:70px;
  height:22px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u3790_img.mouseOver {
}
#u3790.mouseOver {
}
#u3791 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u3792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3792 {
  position:absolute;
  left:504px;
  top:188px;
  width:10px;
  height:10px;
}
#u3793 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
