body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:135px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3959 {
  position:absolute;
  left:59px;
  top:245px;
  visibility:hidden;
}
#u3959_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3959_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3960_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:91px;
  height:41px;
}
#u3960 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u3960_img.mouseOver {
}
#u3960.mouseOver {
}
#u3961 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u3962_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:91px;
  height:41px;
}
#u3962 {
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:30px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u3962_img.mouseOver {
}
#u3962.mouseOver {
}
#u3963 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u3964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u3965 {
  position:absolute;
  left:59px;
  top:206px;
  width:76px;
  height:28px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#495060;
  text-align:left;
}
#u3966 {
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3967 {
  position:absolute;
  left:120px;
  top:216px;
  width:8px;
  height:8px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  color:#1B1B1B;
}
#u3968 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
