body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:218px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3834_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:187px;
  height:56px;
}
#u3834 {
  position:absolute;
  left:100px;
  top:193px;
  width:176px;
  height:45px;
  font-size:14px;
  color:#FFFFFF;
}
#u3835 {
  position:absolute;
  left:2px;
  top:16px;
  width:172px;
  word-wrap:break-word;
}
#u3836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u3836 {
  position:absolute;
  left:146px;
  top:154px;
  width:72px;
  height:34px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#464C5B;
}
#u3836_img.mouseOver {
}
#u3836.mouseOver {
}
#u3836_img.disabled {
}
#u3836.disabled {
}
#u3837 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
