body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u3815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
}
.u3815 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
  text-align:left;
}
.u3816 {
  position:absolute;
  left:2px;
  top:3px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3817 {
  position:absolute;
  left:57px;
  top:1px;
  width:21px;
  height:21px;
  overflow:hidden;
}
.u3817_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
.u3817_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u3818 {
  position:absolute;
  left:3px;
  top:3px;
  width:14px;
  height:14px;
}
.u3819 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
.u3820 {
  position:absolute;
  left:6px;
  top:4px;
  width:49px;
  height:14px;
  font-family:'Adobe Arabic鞥西安 Regular', 'Adobe Arabic鞥西安';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
  text-align:center;
}
.u3821 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3814-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
}
#u3814-2 {
  position:absolute;
  left:89px;
  top:0px;
  width:79px;
  height:22px;
}
#u3814-3 {
  position:absolute;
  left:178px;
  top:0px;
  width:79px;
  height:22px;
}
#u3814 {
  position:absolute;
  left:103px;
  top:156px;
  width:257px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3822 {
  position:absolute;
  left:370px;
  top:156px;
}
#u3822_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3822_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u3823 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  font-size:12px;
  color:#2D8CF0;
}
#u3824 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u3822_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3822_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u3825 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  font-size:12px;
  color:#606266;
}
#u3825_img.mouseOver {
}
#u3825.mouseOver {
}
#u3826 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3827 {
  position:absolute;
  left:3px;
  top:2px;
  width:84px;
  height:18px;
}
#u3827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
