body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:218px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3829_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:187px;
  height:55px;
}
#u3829 {
  position:absolute;
  left:100px;
  top:100px;
  width:176px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u3830 {
  position:absolute;
  left:2px;
  top:12px;
  width:172px;
  word-wrap:break-word;
}
#u3831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u3831 {
  position:absolute;
  left:146px;
  top:154px;
  width:72px;
  height:34px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#464C5B;
}
#u3831_img.mouseOver {
}
#u3831.mouseOver {
}
#u3831_img.disabled {
}
#u3831.disabled {
}
#u3832 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
