body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2287 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
}
#u2288 {
  position:absolute;
  left:80px;
  top:99px;
  width:70px;
  height:34px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#464C5B;
}
#u2288_img.mouseOver {
}
#u2288.mouseOver {
}
#u2289 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u2290 {
  position:absolute;
  left:90px;
  top:110px;
  width:13px;
  height:13px;
  overflow:hidden;
}
#u2290_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2290_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2291 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2292 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2290_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2290_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2293 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2294 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
