body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3079 {
  position:absolute;
  left:135px;
  top:51px;
  visibility:hidden;
}
#u3079_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3079_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:459px;
}
#u3080 {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:458px;
}
#u3081 {
  position:absolute;
  left:2px;
  top:221px;
  width:608px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:366px;
}
#u3082 {
  position:absolute;
  left:31px;
  top:39px;
  width:561px;
  height:366px;
}
#u3083 {
  position:absolute;
  left:2px;
  top:175px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
}
#u3084 {
  position:absolute;
  left:81px;
  top:56px;
  width:115px;
  height:33px;
  text-align:left;
}
#u3085 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u3086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
}
#u3086 {
  position:absolute;
  left:416px;
  top:56px;
  width:115px;
  height:33px;
  text-align:left;
}
#u3087 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u3088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3088 {
  position:absolute;
  left:566px;
  top:14px;
  width:20px;
  height:20px;
}
#u3088_img.mouseOver {
}
#u3088.mouseOver {
}
#u3089 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u3090 {
  position:absolute;
  left:46px;
  top:14px;
  width:33px;
  height:17px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3091 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u3092 {
  position:absolute;
  left:402px;
  top:409px;
  width:72px;
  height:34px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#464C5B;
}
#u3092_img.mouseOver {
}
#u3092.mouseOver {
}
#u3092_img.disabled {
}
#u3092.disabled {
}
#u3093 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u3094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u3094 {
  position:absolute;
  left:508px;
  top:409px;
  width:72px;
  height:34px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3094_img.mouseOver {
}
#u3094.mouseOver {
}
#u3094_img.disabled {
}
#u3094.disabled {
}
#u3095 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u3096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u3096 {
  position:absolute;
  left:306px;
  top:294px;
  width:72px;
  height:34px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#464C5B;
}
#u3096_img.mouseOver {
}
#u3096.mouseOver {
}
#u3096_img.disabled {
}
#u3096.disabled {
}
#u3097 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
