body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1488px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:92px;
  height:19px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#464C5B;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u2 {
  position:absolute;
  left:100px;
  top:96px;
  width:33px;
  height:17px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#464C5B;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:15px;
}
#u4 {
  position:absolute;
  left:100px;
  top:130px;
  width:529px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#464C5B;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  white-space:nowrap;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u6 {
  position:absolute;
  left:100px;
  top:168px;
  width:33px;
  height:17px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#464C5B;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:15px;
}
#u8 {
  position:absolute;
  left:100px;
  top:197px;
  width:589px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#464C5B;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  white-space:nowrap;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:80px;
}
#u10 {
  position:absolute;
  left:100px;
  top:238px;
  width:424px;
  height:79px;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:420px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:80px;
}
#u12 {
  position:absolute;
  left:582px;
  top:238px;
  width:424px;
  height:79px;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:2px;
  top:24px;
  width:420px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:80px;
}
#u14 {
  position:absolute;
  left:1064px;
  top:238px;
  width:424px;
  height:79px;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:420px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u16 {
  position:absolute;
  left:100px;
  top:334px;
  width:49px;
  height:17px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#464C5B;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:15px;
}
#u18 {
  position:absolute;
  left:100px;
  top:363px;
  width:417px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#464C5B;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:80px;
}
#u20 {
  position:absolute;
  left:458px;
  top:393px;
  width:314px;
  height:79px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:2px;
  top:24px;
  width:310px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:80px;
}
#u22 {
  position:absolute;
  left:816px;
  top:393px;
  width:314px;
  height:79px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:2px;
  top:24px;
  width:310px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:80px;
}
#u24 {
  position:absolute;
  left:100px;
  top:393px;
  width:314px;
  height:79px;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:2px;
  top:24px;
  width:310px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:80px;
}
#u26 {
  position:absolute;
  left:1174px;
  top:393px;
  width:314px;
  height:79px;
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:2px;
  top:24px;
  width:310px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u28 {
  position:absolute;
  left:100px;
  top:490px;
  width:49px;
  height:17px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#464C5B;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:15px;
}
#u30 {
  position:absolute;
  left:100px;
  top:519px;
  width:417px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#464C5B;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:80px;
}
#u32 {
  position:absolute;
  left:100px;
  top:554px;
  width:314px;
  height:79px;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:2px;
  top:24px;
  width:310px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:80px;
}
#u34 {
  position:absolute;
  left:816px;
  top:554px;
  width:314px;
  height:79px;
  color:#FFFFFF;
}
#u35 {
  position:absolute;
  left:2px;
  top:24px;
  width:310px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:80px;
}
#u36 {
  position:absolute;
  left:458px;
  top:554px;
  width:314px;
  height:79px;
  color:#FFFFFF;
}
#u37 {
  position:absolute;
  left:2px;
  top:24px;
  width:310px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:80px;
}
#u38 {
  position:absolute;
  left:1174px;
  top:554px;
  width:314px;
  height:79px;
  color:#FFFFFF;
}
#u39 {
  position:absolute;
  left:2px;
  top:24px;
  width:310px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:80px;
}
#u40 {
  position:absolute;
  left:100px;
  top:695px;
  width:314px;
  height:79px;
  color:#464C5B;
}
#u41 {
  position:absolute;
  left:2px;
  top:24px;
  width:310px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:80px;
}
#u42 {
  position:absolute;
  left:458px;
  top:695px;
  width:314px;
  height:79px;
  color:#464C5B;
}
#u43 {
  position:absolute;
  left:2px;
  top:24px;
  width:310px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:80px;
}
#u44 {
  position:absolute;
  left:816px;
  top:695px;
  width:314px;
  height:79px;
  color:#464C5B;
}
#u45 {
  position:absolute;
  left:2px;
  top:24px;
  width:310px;
  word-wrap:break-word;
}
