body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:256px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2359 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
}
#u2360 {
  position:absolute;
  left:85px;
  top:100px;
  width:85px;
  height:34px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u2360_img.mouseOver {
}
#u2360.mouseOver {
}
#u2361 {
  position:absolute;
  left:2px;
  top:9px;
  width:81px;
  word-wrap:break-word;
}
#u2362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2362 {
  position:absolute;
  left:97px;
  top:111px;
  width:12px;
  height:12px;
}
#u2363 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
}
#u2365 {
  position:absolute;
  left:171px;
  top:100px;
  width:85px;
  height:34px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2365_img.mouseOver {
}
#u2365.mouseOver {
}
#u2366 {
  position:absolute;
  left:2px;
  top:9px;
  width:81px;
  word-wrap:break-word;
}
#u2367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2367 {
  position:absolute;
  left:234px;
  top:111px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2368 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
