body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:701px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:2px;
}
#u3983 {
  position:absolute;
  left:100px;
  top:122px;
  width:601px;
  height:1px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u3984 {
  position:absolute;
  left:2px;
  top:-8px;
  width:597px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u3985 {
  position:absolute;
  left:100px;
  top:100px;
  width:53px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3985_img.mouseOver {
}
#u3985.mouseOver {
}
#u3985_img.selected {
}
#u3985.selected {
}
#u3986 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:2px;
}
#u3987 {
  position:absolute;
  left:100px;
  top:122px;
  width:53px;
  height:1px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
}
#u3988 {
  position:absolute;
  left:2px;
  top:-8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u3989 {
  position:absolute;
  left:229px;
  top:100px;
  width:53px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3989_img.mouseOver {
}
#u3989.mouseOver {
}
#u3989_img.selected {
}
#u3989.selected {
}
#u3990 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u3991 {
  position:absolute;
  left:357px;
  top:100px;
  width:53px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3991_img.mouseOver {
}
#u3991.mouseOver {
}
#u3991_img.selected {
}
#u3991.selected {
}
#u3992 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u3993 {
  position:absolute;
  left:486px;
  top:100px;
  width:79px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3993_img.mouseOver {
}
#u3993.mouseOver {
}
#u3993_img.selected {
}
#u3993.selected {
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3995 {
  position:absolute;
  left:100px;
  top:134px;
  width:296px;
  height:107px;
  overflow:hidden;
}
#u3995_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:107px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3995_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u3996 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3997 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3995_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:107px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3995_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:14px;
}
#u3999 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3995_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:107px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3995_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:14px;
}
#u4001 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3995_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:107px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3995_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:14px;
}
#u4003 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
