body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u2247 {
  position:absolute;
  left:80px;
  top:99px;
  width:72px;
  height:34px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#464C5B;
}
#u2247_img.mouseOver {
}
#u2247.mouseOver {
}
#u2247_img.disabled {
}
#u2247.disabled {
}
#u2248 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
