body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:134px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2270 {
  position:absolute;
  left:100px;
  top:100px;
  width:34px;
  height:34px;
  color:#FFFFFF;
}
#u2270_img.mouseOver {
}
#u2270.mouseOver {
}
#u2271 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2272 {
  position:absolute;
  left:110px;
  top:110px;
  width:15px;
  height:15px;
}
#u2273 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
