body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:314px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:15px;
}
#u2241 {
  position:absolute;
  left:100px;
  top:100px;
  width:214px;
  height:14px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#9EA7B4;
}
#u2242 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
