body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:629px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
}
#u2189 {
  position:absolute;
  left:100px;
  top:50px;
  width:132px;
  height:19px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#464C5B;
}
#u2190 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:34px;
}
#u2191 {
  position:absolute;
  left:100px;
  top:100px;
  width:247px;
  height:34px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:9px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:46px;
}
#u2193 {
  position:absolute;
  left:100px;
  top:169px;
  width:453px;
  height:46px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:15px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:46px;
}
#u2195 {
  position:absolute;
  left:100px;
  top:253px;
  width:471px;
  height:46px;
}
#u2196 {
  position:absolute;
  left:2px;
  top:15px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:43px;
}
#u2197 {
  position:absolute;
  left:100px;
  top:360px;
  width:520px;
  height:43px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:14px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:47px;
}
#u2199 {
  position:absolute;
  left:100px;
  top:471px;
  width:518px;
  height:47px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:16px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:40px;
}
#u2201 {
  position:absolute;
  left:92px;
  top:566px;
  width:537px;
  height:40px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:12px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u2203 {
  position:absolute;
  left:100px;
  top:742px;
  width:300px;
  height:170px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
