body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:708px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:36px;
}
#u3209 {
  position:absolute;
  left:100px;
  top:100px;
  width:608px;
  height:35px;
}
#u3210 {
  position:absolute;
  left:2px;
  top:10px;
  width:604px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
}
#u3211 {
  position:absolute;
  left:165px;
  top:111px;
  width:85px;
  height:13px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u3212 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3213 {
  position:absolute;
  left:672px;
  top:110px;
  width:15px;
  height:15px;
}
#u3214 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3215 {
  position:absolute;
  left:120px;
  top:110px;
  width:15px;
  height:15px;
}
#u3216 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3217 {
  position:absolute;
  left:123px;
  top:113px;
  width:10px;
  height:10px;
}
#u3218 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
