body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:134px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2274 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2275 {
  position:absolute;
  left:100px;
  top:100px;
  width:34px;
  height:34px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#464C5B;
}
#u2275_img.mouseOver {
}
#u2275.mouseOver {
}
#u2276 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2277 {
  position:absolute;
  left:110px;
  top:110px;
}
#u2277_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2277_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2278 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2279 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2277_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2277_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2280 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2281 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
