body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:335px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u3969 {
  position:absolute;
  left:281px;
  top:100px;
  width:54px;
  height:14px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
}
#u3970 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u3971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u3971 {
  position:absolute;
  left:100px;
  top:100px;
  width:27px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3971_img.mouseOver {
}
#u3971.mouseOver {
}
#u3972 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:17px;
}
#u3973 {
  position:absolute;
  left:132px;
  top:100px;
  width:5px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u3973_img.mouseOver {
}
#u3973.mouseOver {
}
#u3974 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u3975 {
  position:absolute;
  left:143px;
  top:100px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3975_img.mouseOver {
}
#u3975.mouseOver {
}
#u3976 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:17px;
}
#u3977 {
  position:absolute;
  left:202px;
  top:100px;
  width:5px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u3977_img.mouseOver {
}
#u3977.mouseOver {
}
#u3978 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u3979 {
  position:absolute;
  left:212px;
  top:100px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u3979_img.mouseOver {
}
#u3979.mouseOver {
}
#u3980 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:17px;
}
#u3981 {
  position:absolute;
  left:271px;
  top:100px;
  width:5px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u3981_img.mouseOver {
}
#u3981.mouseOver {
}
#u3982 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
