body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:691px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2421 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u2422 {
  position:absolute;
  left:643px;
  top:211px;
  width:48px;
  height:31px;
  color:#495060;
}
#u2422_img.selected {
}
#u2422.selected {
}
#u2423 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u2424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u2424 {
  position:absolute;
  left:83px;
  top:211px;
  width:48px;
  height:31px;
  color:#495060;
}
#u2425 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u2426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:32px;
}
#u2426 {
  position:absolute;
  left:131px;
  top:211px;
  width:512px;
  height:31px;
}
#u2426_img.mouseOver {
}
#u2426.mouseOver {
}
#u2426_img.selected {
}
#u2426.selected {
}
#u2427 {
  position:absolute;
  left:2px;
  top:8px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2428 {
  position:absolute;
  left:138px;
  top:214px;
  width:499px;
  height:25px;
}
#u2428_input {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
