body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:456px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3794 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u3795 {
  position:absolute;
  left:117px;
  top:127px;
  width:70px;
  height:22px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2D8CF0;
  text-align:left;
}
#u3796 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u3797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3797 {
  position:absolute;
  left:172px;
  top:133px;
  width:10px;
  height:10px;
}
#u3798 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3799 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u3800 {
  position:absolute;
  left:205px;
  top:127px;
  width:70px;
  height:22px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#19BE6B;
  text-align:left;
}
#u3801 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u3802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3802 {
  position:absolute;
  left:260px;
  top:133px;
  width:10px;
  height:10px;
}
#u3803 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3804 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u3805 {
  position:absolute;
  left:297px;
  top:127px;
  width:70px;
  height:22px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF9900;
  text-align:left;
}
#u3806 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u3807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3807 {
  position:absolute;
  left:353px;
  top:133px;
  width:10px;
  height:10px;
}
#u3808 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u3810 {
  position:absolute;
  left:386px;
  top:127px;
  width:70px;
  height:22px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#ED3F14;
  text-align:left;
}
#u3811 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u3812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3812 {
  position:absolute;
  left:441px;
  top:133px;
  width:10px;
  height:10px;
}
#u3813 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
