body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:172px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3867_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:164px;
  height:82px;
}
#u3867 {
  position:absolute;
  left:100px;
  top:152px;
  width:153px;
  height:71px;
}
#u3868 {
  position:absolute;
  left:2px;
  top:25px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u3869 {
  position:absolute;
  left:119px;
  top:192px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#606266;
}
#u3870 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u3871 {
  position:absolute;
  left:117px;
  top:163px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u3872 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u3873 {
  position:absolute;
  left:100px;
  top:233px;
  width:72px;
  height:34px;
  font-family:'苹方 Regular', '苹方';
  font-weight:400;
  font-style:normal;
  color:#464C5B;
}
#u3873_img.mouseOver {
}
#u3873.mouseOver {
}
#u3873_img.disabled {
}
#u3873.disabled {
}
#u3874 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
